.Head {
    width: 1440px;
    height: 698px;
    background-image: url('/Assets/Hero-bg.png');
}
.NavDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
.Headtext {
    font-family: 'Inter',sans-serif;
    color: #4E47FF;
}
.buttonText {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;

}
.bottomNav {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.HeadH1 {
    font-family: 'Raleway', sans-serif ;
    font-size: 65px;
}